<%= content_tag( 'h1', 'Parsed routes' ) %>

<%= render :partial => 'view_switch' %>

<table>
	<thead>
		<tr>
			<%= content_tag( 'td', 'ID' ) %>
			<%= content_tag( 'td', 'Source step' ) %>
			<%= content_tag( 'td', 'Target step' ) %>
			<%= content_tag( 'td', 'Current' ) %>
			<%= content_tag( 'td', 'Parse pass count' ) %>
			<%= content_tag( 'td', 'Parsed' ) %>
			<%= content_tag( 'td', 'Status' ) %>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'route', :collection => @routes %>
	</tbody>
</table>