<h1>Work package: <%= @work_package.triple_store_id %></h1>

<%= render :partial => 'work_package_description' %>

<%= render :partial => 'view_switch' %>

<div id="happened">
	<h2>Things that have happened</h2>
	<details>
		<summary>Steps actualised with business items having a date in the past, or today: <%= @business_items_that_have_happened_number %></summary>
		<%- if @business_items_that_have_happened.length > 0 %>
			<section>
				<%= render :partial => 'business_item/business_item', :collection => @business_items_that_have_happened %>
			</section>
		<% else -%>
			<em>There are no steps actualised with business items having a date in the past, or today.</em>
		<% end -%>
	</details>
</div>

<div id="scheduled">
	<h2>Things that are scheduled to happen</h2>
	<details>
		<summary>Steps actualised with business items having a date in the future: <%= @business_items_that_are_scheduled_to_happen_number %></summary>
		<%- if @business_items_that_are_scheduled_to_happen.length > 0 %>
			<section>
				<%= render :partial => 'business_item/business_item', :collection => @business_items_that_are_scheduled_to_happen %>
			</section>
		<% else %>
			<em>There are no steps actualised with business items having a date in the future.</em>
		<% end %>
	</details>
</div>

<div id="actualised-with-no-date">
	<h2>Things that may have happened or may be scheduled to happen</h2>
	<details>
		<summary>Steps actualised with business items having no date: <%= @business_items_unknown_number %></summary>
		<%- if @business_items_unknown.length > 0 %>
			<section>
				<%= render :partial => 'business_item/business_item', :collection => @business_items_unknown %>
			</section>
		<% else %>
			<em>There are no steps actualised with business items having no date.</em>
		<% end %>
	</details>
</div>

<div id="should-happen">
	<h2>Things that should happen</h2>
	<details open>
		<summary>Steps with an input of <code>TRUE</code> once the procedure map has been parsed</summary>
		<%- if @caused_steps.length > 0 %>
			<section>
				<%= render :partial => 'step/step', :collection => @caused_steps %>
			</section>
		<% else %>
			<em>There are no steps with an input of <code>TRUE</code> once the procedure map has been parsed.</em>
		<% end %>
	</details>
</div>

<div id="may-happen">
	<h2>Things that may happen</h2>
	<details open>
		<summary>Steps with an input of <code>ALLOWS</code> once the procedure map has been parsed</summary>
		<%- if @allowed_steps.length > 0 %>
			<section>
				<%= render :partial => 'step/step', :collection => @allowed_steps %>
			</section>
		<% else %>
			<em>There are no steps with an input of <code>ALLOWS</code> once the procedure map has been parsed.</em>
		<% end %>
	</details>
</div>

<div id="should-not-now-happen">
	<h2>Things that should not now happen</h2>
	<details>
		<summary>Steps with an input of <code>UNTRAVSERSABLE</code> once the procedure map has been parsed</summary>
		<%- if @disallowed_now_steps.length > 0 %>
			<section>
				<%= render :partial => 'step/step', :collection => @disallowed_now_steps %>
			</section>
		<% else %>
			<em>There are no steps with an input of <code>UNTRAVSERSABLE</code> once the procedure map has been parsed.</em>
		<% end %>
	</details>
</div>

<div id="should-not-yet-happen">
	<h2>Things that should not yet happen</h2>
	<details>
		<summary>Steps with an input of <code>NULL</code> or <code>FALSE</code> once the procedure map has been parsed</summary>
		<%- if @disallowed_as_yet_steps.length > 0 %>
			<section>
				<%= render :partial => 'step/step', :collection => @disallowed_as_yet_steps %>
			</section>
		<% else %>
			<em>There are no steps with an input of <code>NULL</code> or <code>FALSE</code> once the procedure map has been parsed.</em>
		<% end %>
	</details>
</div>