



<%= content_tag( 'h1', @procedure.name ) %>


	<blockquote>
		<%= @procedure.description_massaged %>
  </blockquote>

<p>
  Routes: <%= @procedure.routes.size %></p>
<p>
		Work packages: <%= content_tag( 'span', link_to( "#{@procedure.work_packages.size}", procedure_work_package_list_url ) ) %>
	</p>

<p>Procedure Schema site: <a href="https://procedures.azurewebsites.net/Procedures/<%= @procedure.id %>">https://procedures.azurewebsites.net/Procedures/<%= @procedure.id %></a></p>

<p>Render graph: <a href="https://procedures.azurewebsites.net/Procedures/<%= @procedure.id %>/graph">https://procedures.azurewebsites.net/Procedures/<%= @procedure.id %>/graph</a></p>