<h1><%= link_to( @procedure.name, procedure_show_url( :procedure => @procedure ) ) %> business steps</h1>

<p>
There are <%= @work_packages.size %> work packages subject to the <%= @procedure.name %> procedure. <%= @concluded_work_packages.size %> have concluded, 

<% case @bicamerally_concluded_work_packages.size 
		   when 0 %>
		of which none have concluded in both Houses.
		<% when 1 %>
		of which one has concluded in both Houses.
		
		<% else %>
		
		of which <%= @bicamerally_concluded_work_packages.size %> have concluded in both Houses.
		<% end %>
		</p>

<p>The <strong>occurrence count</strong> is that in concluded work packages.</p>

<p>The <strong>occurrence score</strong> is based on the number of concluded work packages subject to this procedure with the step actualised divided by the total number of concluded work packages subject to this procedure.</p>

<p>For steps taking place in the House of Commons or outside of Parliament, the occurrence score is compared to the total number of concluded work packages. For steps taking place in the House of Lords or as joint steps, the occurrence score is compared to the total number of work packages having concluded in both Houses.</p>

<table>
	<thead>
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>House</td>
			<td>Occurrence count</td>
			<td>Occurrence score</td>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'step/business_step', :collection => @steps_with_work_package_count %>
	</tbody>
</table>