<h1><%= link_to( @procedure.name, procedure_show_url( :procedure => @procedure ) ) %> business steps</h1>


<%= content_tag( 'p', "There are #{@work_packages.size} work packages subject to the #{@procedure.name} procedure of which #{@procedure.concluded_work_packages.size} have concluded." ) %>

<%= content_tag( 'p', "The plausibility score is based on the number of concluded work packages subject to this procedure with the step actualised divided by the total number of concluded work packages subject to this procedure." ) %>


<table>
	<thead>
		<tr>
			<%= content_tag( 'td', 'Step name' ) %>
			<%= content_tag( 'td', 'House' ) %>
			<%= content_tag( 'td', 'Occurence count in concluded work packages' ) %>
			<%= content_tag( 'td', 'Plausibility score' ) %>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'step', :collection => @steps_with_work_pockage_count %>
	</tbody>
</table>