<h1><%= link_to( @procedure.name, procedure_show_url( :procedure => @procedure ) ) %> business steps</h1>


<%= content_tag( 'p', "There are #{@work_packages.size} work packages subject to the #{@procedure.name} procedure. #{@concluded_work_packages.size} have concluded, of which #{@bicamerally_concluded_work_packages.size}. have concluded in both Houses." ) %>

<%= content_tag( 'p', "The occurrence score is based on the number of concluded work packages subject to this procedure with the step actualised divided by the total number of concluded work packages subject to this procedure." ) %>

<%= content_tag( 'p', "For steps taking place in the House of Commons or outside of Parliament, the occurrence score is compared to the total number of concluded work packages. For steps taking place in the House of Lords or as joint steps, the occurrence score is compared to the total number of work packages having concluded in both Houses." ) %>

<table>
	<thead>
		<tr>
			<%= content_tag( 'td', 'Step ID' ) %>
			<%= content_tag( 'td', 'Step name' ) %>
			<%= content_tag( 'td', 'House' ) %>
			<%= content_tag( 'td', 'Occurence count in concluded work packages' ) %>
			<%= content_tag( 'td', 'Occurrence score' ) %>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'step/business_step', :collection => @steps_with_work_package_count %>
	</tbody>
</table>